a{
    text-decoration: none;
    color: white;

}

.head{
    text-align: center;
    background-color: black;
    padding: 1px;
    font-size:xx-large

}

.name{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 1px;
    font-size:xx-large

}

body{
    margin: 0px;
    background-color: rgb(231, 234, 236);
}

p{
    background-color: rgba(0, 0, 0, 0.116);
    padding: 30px;
    text-align: center;
    margin: 0px;
}

img{
    padding: 44px;
}

.a1{
    display: inline-block;
}

.a2{
    display: inline-block;
}
