body td{
    text-align: center;
    /* padding: %; */
    size
    margin: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(204, 47, 19);
}
/* 
.days th{
    color: chartreuse;
} */


/* .content th{
    color: white;
    background-color: #009879;
} */
/* 
.content td{
    color: white;
    background-color: #009879;
} */